<div class="row text-center icon-left stack">
  <div class="medium-3 columns card">
    <i class="fi-marker"></i>
    <h3>Select Location</h3>
    <p>Select a nearest Restaurant</p>
  </div>
  <div class="medium-3 columns card" >
    <i class="fi-shopping-cart"></i>
    <h3>Place order</h3>
    <p>Select a product of your choice</p>
  </div>
  <div class="medium-3 columns card">
    <i class="fi-dollar-bill"></i>
    <h3>Done Payment</h3>
    <p>Select payment option</p>
  </div>
  <div class="medium-3 columns card">
    <i class="fi-burst-new"></i>
    <h3>Enjoy</h3>
    <p>Food will be deliver in 40 mins of an Order</p>
  </div>
</div>