/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require devise_foundation_views_scss
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation


 */
/*==================================
            Navigation CSS
==================================*/
* {
    font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3 {
    font-family: 'Josefin Sans', sans-serif;
}
.navigation {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    font-weight: 1px;
}
.title-bar {
    float: left;
    margin: 25px;
}
.naivigation-menu {
    margin: 25px;
}
.naivigation-menu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.navigatiom-right{
    float: right;

}

/*==================================
            Banner CSS
==================================*/
.banner{
    margin-top: 1em;
    background:  url(07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
}


/*==================================
            Advertise CSS
==================================*/
.stack i {
    font-size: 3em;
    color: #25a1ef;
}
.card {
    padding: 1.5em;
}
.stack {
    margin-top: 1.5em;
}
.hero-content {
    margin-top: 5em;
}
